save-prefix = '~' #permite ao dar um novo npn install seu-pacote atualizar apenas o Patch

save-prefix = '^' #Permite ao dar um novo npn install seu-pacote atualizar o Minor e também Patch

save-exact = true #Permite instalar apenas a versão mencionada no package.json